<head>
<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<h1 class="center">Ваші результати:</h1>
<%= @test.rokich_result %> <br>
<%= @test.fear_result %> <br>
<%= @test.konf_result_1 %> <br>
<%= @test.konf_result_2 %> <br>
<%= @test.konf_result_3 %> <br>
<a href = '/'>Пройти ще раз</a>
</body>
